.experience-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Full viewport height */
    padding: 20px;
    text-align: center;
    }

.experience-header {
   padding: 15px;
    }
