@import url('https://rsms.me/inter/inter.css');

.App {
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Inter', sans-serif;
  color: white;
}


.home, .about {
  height: 101vh; /* 100% of the viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Add other styling as needed */
}

.experience {
  height: 101vh; /* 100% of the viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
}
